body {
    background-color: #f4f4f4;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(135deg, #f9e7bb, #e97cbb, #3d47d9);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#new-quote {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#quote-container {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 3, 0.2);
    border-radius: 7px;
    margin: 20px;
}

.copy-quote{
    background-color: #9d5a98;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 9px;

}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 9px;
}

button:hover {
    background-color: #444;
}

@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    #quote-container {
        width: 60%;
    }
}

.box {
    background-color: #f0f0f0;
}

#creator {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #333;
}

h1 {
    color: #4a4a4a;
}